
<div id="main">
  <div id="sub">
  <h1>Edit Article</h1>
  <% if @article.errors.any? %>
  <h2>The following errors prevented the article from being edited:</h2>
  <ul>
    <%= @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
       <ul id="menu">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", pages_about_path %></li>
         <li><%= link_to "Alpha Blog", articles_path %></li>
     </ul>

  <%=form_for @article do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>  |  <span id="back"><%= link_to 'Back', articles_path %></span>
  </p>
  <% end %>
</div>
 <footer>&copy2016 BadgerTex.com</footer>

</div>