<div id="main">
  <p id="notice"><%= notice %></p>
       <ul id="menu">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", pages_about_path %></li>
         <li><%= link_to "Articles", articles_path %></li>
     </ul>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

  <footer>&copy2016 BadgerTex.com </footer>
</div>